@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Sono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}

header {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.text {
  position: absolute;
  color: #fff;
  text-align: center;
}

.text p {
  padding: 2%;
  font-size: 1em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.text h1 {
  text-transform: uppercase;
  font-size: 2.3em;
  font-family: "Dancing Script", cursive;
  font-family: "Sono", sans-serif;
}

.button {
  text-decoration: none;
  color: black;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 9px;
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 5px;
  text-transform: uppercase;
  letter-spacing: 5px;
  transition: 0.4s;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.button:hover {
  letter-spacing: 6px;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #065e8a;
  mix-blend-mode: overlay;
  /* opacity: 0.2;  */
}

.social {
  position: absolute;
  list-style: none;
  position: absolute;
  bottom: 15px;
  right: 5px;
  display: flex;
  flex-direction: row;
}

.social img {
  height: 20px;
  width: 20px;
}

.social li a {
  display: inline-block;
  filter: invert(1);
  margin-right: 20px;
}

.main-nav {
  position: absolute;
  top: 30px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.main-nav a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}


/* destination */

.destination {
    height: 100%;
   background-color: #bad7e6;
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .text p {
        
        font-size: 2em;
     padding: 1%;
      }

      .text h1 {
        font-size: 4em;
      }

      .main-nav a {
        font-size: 1.5em;
      }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .text p {
        width: 800px;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {


}