@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Sono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}



header {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.text {
  position: absolute;
  color: #fff;
  text-align: center;
}

.text p {
  padding: 2%;
  font-size: 1em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.text h1 {
  text-transform: uppercase;
  font-size: 2.3em;
  font-family: "Dancing Script", cursive;
  font-family: "Sono", sans-serif;
}

.button {
  text-decoration: none;
  color: black;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 9px;
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 5px;
  text-transform: uppercase;
  letter-spacing: 5px;
  transition: 0.4s;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.button:hover {
  letter-spacing: 6px;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #065e8a;
  mix-blend-mode: overlay;
  /* opacity: 0.2;  */
}

.social {
  position: absolute;
  list-style: none;
  position: absolute;
  bottom: 15px;
  right: 5px;
  display: flex;
  flex-direction: row;
}

.social img {
  height: 20px;
  width: 20px;
}

.social li a {
  display: inline-block;
  filter: invert(1);
  margin-right: 20px;
}

.main-nav {
  position: absolute;
  top: 30px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.main-nav a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}


/* destination */

.desti {
  height: 100%;
  width: 100%;
  background-color: #043a54;
}

 .destination { 
    height: 100%;
    width: 100%;
   background-color: #043a54;

}

.destination .main-nav{
  background-color: black;
} 

.destination-header {
 
 position: absolute;
 top: 100px;
 text-align: center;
 width: 100%;
 padding: 5%;

}

.destination-header h1 {
  margin-bottom: 15px ;
 text-transform: uppercase;
  font-family: "Dancing Script", cursive;
  font-family: "Sono", sans-serif;
  letter-spacing: 2px;
  font-size: 2em;
}

.completed-container{
display: flex;
flex-direction: column;
gap: 30px;
margin-top: 50px;
}
.completed-child {
  height: 300px;
  margin-top: 40px;
}

.completed-child h3 {
color: black;


 
}

.completed-child button  {
  background-color: #065e8a;

}

.completed-child a {
  text-decoration: none;
  border: 1px solid #065e8a;
  background-color: #065e8a;
  color: #fff;
}



.india {
  background-image: url("/assets/images/leh-ladakh.img");
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;

}

.italy {
  background-image: url("/assets/images/dolomites.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
}

.swiss {
  background-image: url("/assets/images/img1.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;

}

.germany {
  background-image: url("/assets/images/bastie.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
}

.kerala {
  background-image: url("/assets/images/kerala.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
}

.jordan {
  background-image: url("/assets/images/jordan.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
}

.iceland {
  background-image: url("/assets/images/iceland.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
}


.maldives {
  background-image: url("/assets/images/maldives.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
}

.coming-container{
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
  }

 
  .coming-child h3{
    color: black;
  }

 .top-destination a {
  text-decoration: none;
  color: white;
 }
     
 .top-destination {
 position: absolute;
padding: 8%;
right: 0;

 }

   /* Leh-ladakh page */


.leh-main {
  background-color: #065e8a;
  height: 100%;
  width: 100%;
}

.leh-main nav {
  background-color: black;
}

.hero-image {
  background-image: linear-gradient(rgba(6, 5, 5, 0.5), rgba(139, 135, 135, 0.5)) , url("/assets/images/leh.png");
  height: 50%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  margin-top: 100px;
  display: flex;
  align-items: center;
}

.hero-text {
text-align: center;
padding:5% ;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    /* destination */

    .destination-header h1 {
     
      font-size: 3em;
    }
    
    .destination-header p {
     
      font-size: 1.2em;
    }


    .completed-child {
      height: 350px;
      width: 400px;
    }

    .completed-container {
      display: flex;
      align-items: center;
    }
   
    .completed-child h3 {
      font-size: 1.8em;
    }

    .completed-child a {
      font-size: 1.2em;
    }

    .completed-container h2 {
      font-size: 2em;
    }

    .coming-container h2 {
      font-size: 2em;
    }

   .coming-child {
    height: 350px;
    width: 400px;
   }

   .coming-container{
    display: flex;
    align-items: center;
   }

   .coming-child h3 {
    font-size: 1.8em;
   }

  .top-destination a {
    font-size: 1.2em;
    cursor: pointer;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
 /* main page */
    .text p {
        
        font-size: 2em;
     padding: 1%;
      }

      .text h1 {
        font-size: 4em;
      }

      .main-nav a {
        font-size: 1.5em;
      }


      /* destination page */

.completed-parent {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
  
}

.completed-child {
  width: 320px;
  height: 250px;
}
     
.coming-parent {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
}
.coming-child {
  width: 320px;
  height: 250px;
}
      

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
/* main page */
    .text p {
        width: 800px;
    }

    /* destination page */

    .completed-child {
      width: 400px;
      height: 350px;
    }

    .coming-child {
      width: 400px;
      height: 350px;
    }


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {


}